        
        #wrapper {
            position: absolute;
            left: 30%;
            top: 20%;
            width: 500px;
            height: 500px;
            border: 1px solid purple;
        }
        #startTime {
            background-color: purple;
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
        }
        #questionsDiv {
            margin: 20px;
        }

        #currentTime {
            float: right;
        }

        #goBack {
            background-color: purple;
            position: absolute;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            left: 20%;
            width: auto;
            text-align: center;
        }

        #clear {
            background-color: purple;
            position: absolute;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            right: 25%;
            text-align: center;
        }

        button {
            border-radius: 8px;
        }

        textarea {
            width: 90%;
            margin: 20px;
        }

        #Submit {
            background-color: purple;
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
        }

        input {
            margin-bottom: 20px;
        }

        h1 {
            text-align: center;
        }

        li {
            background-color: purple;
            margin-top: 10px;
            padding: 5px 15px;
            font-size: 18px;
            color: white;
        }

        #createDiv {
            margin-top: 20px;
            border-top: 1px solid lightgray;
        }